{{- if eq (default "single" .Values.global.database.provider) "single" }}
{{- if and .Values.global.secrets .Values.global.secrets.enabled }}
{{- $existing := (lookup "v1" "Secret" .Release.Namespace (printf "%s-db" .Release.Name)) }}
{{- $databaseUser := required "global.config.databaseUser is required" .Values.global.config.databaseUser }}
{{- $databaseName := default "app" .Values.global.secrets.databaseName }}
{{- $databasePasswordB64 := "" }}
{{- if and $existing (get (get $existing "data") "databasePassword") }}
  {{- $databasePasswordB64 = (get (get $existing "data") "databasePassword") }}
{{- else }}
  {{- $databasePasswordB64 = (required "global.secrets.databasePassword is required for single-db" .Values.global.secrets.databasePassword | b64enc) }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-db
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
type: Opaque
data:
  databaseUser: {{ $databaseUser | b64enc | quote }}
  databasePassword: {{ $databasePasswordB64 | quote }}
  databaseName: {{ $databaseName | b64enc | quote }}
{{- end }}
{{- end }}
