{
	metrics
	auto_https off
	admin 0.0.0.0:3003
}
:3000 {
	log {
		output stdout
		format console
		level {$LOG_LEVEL}
	}
	root * /srv
	encode zstd gzip
	file_server
	@spa_router {
		not path /api*
		file {
			try_files {path} /index.html
		}
	}
	rewrite @spa_router {http.matchers.file.relative}
	# Proxy requests to API service
	reverse_proxy /api* {$BACKEND_URL} {
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up X-Real-IP {remote_host}
	}
	header {
		-Server
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1;mode=block"
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
		X-Content-Type-Options "nosniff"
		Strict-Transport-Security "max-age=31536000"
		Content-Security-Policy "default-src 'self' https://*.gov.bc.ca;; 
			script-src 'self'  https://*.gov.bc.ca ;
			style-src 'self' https://fonts.googleapis.com https://use.fontawesome.com 'unsafe-inline'; 
			font-src 'self' https://fonts.gstatic.com; 
			img-src 'self' data: https://fonts.googleapis.com https://www.w3.org https://*.gov.bc.ca https://*.tile.openstreetmap.org;
			frame-ancestors 'self'; 
			form-action 'self';
			block-all-mixed-content;
			connect-src 'self' https://*.gov.bc.ca wss://*.gov.bc.ca;"
		Referrer-Policy "same-origin"
		Permissions-Policy "fullscreen=(self), camera=(), microphone=()"
		Cross-Origin-Resource-Policy "cross-origin"
		Cross-Origin-Opener-Policy "same-origin"
	}
}
:3001 {
	handle /health {
		respond "OK"
	}
}
