{
	auto_https off
	admin off
	debug
}
{$WEB_HOST_NAME}:{$WEB_HOST_PORT} {
	log {
		output stdout
		format console {
			time_format iso8601
			level_format color
		}
		level debug
	}
	root * /app/dist
	encode zstd gzip
	file_server
	@spa_router {
        not path /api/*
        file {
            try_files {path} /index.html
        }
    }
    rewrite @spa_router {http.matchers.file.relative}
	# Proxy requests to API service
    route /api/* {
        reverse_proxy {$API_HOST}:{$API_PORT}
    }
}
:3001 {
  handle /health {
	  respond "OK"
  }
}
