{{- if and (eq (default "single" .Values.global.database.provider) "single") (.Values.global.database.backup.enabled | default false) }}
{{- $databaseUser := required "global.config.databaseUser is required" .Values.global.config.databaseUser }}
{{- $databasePassword := required "global.secrets.databasePassword is required for single-db" .Values.global.secrets.databasePassword }}
{{- $databaseName := default "app" .Values.global.secrets.databaseName }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-db-backup
  labels: {{- include "labels" . | nindent 4 }}
type: Opaque
data:
  POSTGRESQL_USER: {{ $databaseUser | b64enc | quote }}
  POSTGRESQL_PASSWORD: {{ $databasePassword | b64enc | quote }}
  POSTGRESQL_DATABASE: {{ $databaseName | b64enc | quote }}
  {{- if .Values.global.database.backup.s3.enabled }}
  S3_USER: {{ required "global.database.backup.s3.accessKey is required when s3.enabled=true" .Values.global.database.backup.s3.accessKey | b64enc | quote }}
  S3_PASSWORD: {{ required "global.database.backup.s3.secretKey is required when s3.enabled=true" .Values.global.database.backup.s3.secretKey | b64enc | quote }}
  S3_ENDPOINT: {{ required "global.database.backup.s3.endpoint is required when s3.enabled=true" .Values.global.database.backup.s3.endpoint | b64enc | quote }}
  S3_BUCKET: {{ required "global.database.backup.s3.bucket is required when s3.enabled=true" .Values.global.database.backup.s3.bucket | b64enc | quote }}
  {{- end }}
{{- end }}
