// A custom theme for this app, see: https://getbootstrap.com/docs/5.3/customize/sass/#maps-and-loops
$primary: #ffffff;
$secondary: #385a8a;
$success: #234720;
$warning: #81692c;
$danger: #712024;

// Import Bootstrap and Bootstrap Icons
@import '~bootstrap/scss/bootstrap';
$bootstrap-icons-font-src:
  url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2')
    format('woff2'),
  url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff')
    format('woff');
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

// CSP-compliant modal styles (no inline styles)
.modal.show {
  display: block;
}

// Hide native dialog backdrop since we use Bootstrap's backdrop div
dialog.modal::backdrop {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

.modal-backdrop.show {
  opacity: 0.5;
}

// Style button backdrop to look like div backdrop
button.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

// BCGov Header styling
.bcgov-header {
  background-color: #ffffff;
  color: #000000;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.bcgov-header-text {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.05em;
}

.bcgov-header-british {
  color: #003366;
}

.bcgov-header-columbia {
  color: #fcba19;
}

.bcgov-header-separator {
  width: 1px;
  height: 40px;
  background-color: #e0e0e0;
  margin: 0 1rem;
}

.bcgov-header-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.bcgov-header-banner {
  background-color: #fcba19;
  height: 4px;
  width: 100%;
}
