/////////////////////////////
// White
/////////////////////////////
$white: #FFFFFF;

/////////////////////////////
// Blue Scale
/////////////////////////////
$blue-10: #C2E0FF;
$blue-15: #99CCFF;
$blue-20: #85C2FF;
$blue-25: #70B8FF;
$blue-30: #5CADFF;
$blue-35: #47A3FF;
$blue-40: #3399FF;
$blue-45: #1F8FFF;
$blue-50: #0A85FF;
$blue-55: #007AF5;
$blue-60: #0073E6;
$blue-65: #0066CC;
$blue-70: #005CB8;
$blue-75: #0052A3;
$blue-80: #00478F;
$blue-85: #003D7A;
$blue-90: #003366;
$blue-95: #002952;
$blue-100: #001F3D;

/////////////////////////////
// Gray Scale
/////////////////////////////
$gray-10: #F3F3F5;
$gray-15: #ECECEE;
$gray-20: #DFDFE1;
$gray-25: #D2D2D4;
$gray-30: #C6C6C8;
$gray-35: #B9B9BB;
$gray-40: #ACACAE;
$gray-45: #9F9FA1;
$gray-50: #939395;
$gray-55: #868688;
$gray-60: #79797B;
$gray-65: #6C6C6E;
$gray-70: #606062;
$gray-75: #535355;
$gray-80: #464648;
$gray-85: #39393B;
$gray-90: #2D2D2F;
$gray-95: #202022;
$gray-100: #131315;

/////////////////////////////
// Red Scale
/////////////////////////////
$red-10: #FFEAE5;
$red-20: #FFC0B3;
$red-30: #FF9681;
$red-40: #FF6D4E;
$red-50: #FF421B;
$red-60: #E72000;
$red-70: #B32001;
$red-80: #801701;
$red-90: #4D0E00;
$red-100: #1A0400;

/////////////////////////////
// Orange Scale
/////////////////////////////
$orange-10: #FFDDCC;
$orange-20: #FFBC99;
$orange-30: #FF9A68;
$orange-40: #FF7835;
$orange-50: #FF681B;
$orange-60: #FA5300;
$orange-70: #E64F02;
$orange-80: #CC4502;
$orange-90: #B33C02;
$orange-100: #993402;

/////////////////////////////
// Yellow Scale
/////////////////////////////
$yellow-10: #FFF3CC;
$yellow-20: #FFE799;
$yellow-30: #FFDB66;
$yellow-40: #FFCF33;
$yellow-50: #FFC91A;
$yellow-60: #FFC300;
$yellow-70: #E6B000;
$yellow-80: #CC9C00;
$yellow-90: #B38900;
$yellow-100: #997500;

/////////////////////////////
// Green Scale
/////////////////////////////
$green-10: #CCE5CC;
$green-20: #99C999;
$green-30: #66AF65;
$green-40: #339332;
$green-50: #1A8619;
$green-60: #007B00;
$green-70: #006D00;
$green-80: #006000;
$green-90: #005500;
$green-100: #003D00;

/////////////////////////////
// Lime Scale
/////////////////////////////
$lime-10: #F2FFE5;
$lime-20: #D9FEB3;
$lime-30: #C0FE7F;
$lime-40: #A6FD4C;
$lime-50: #8DFD19;
$lime-60: #6EDB00;
$lime-70: #5AB100;
$lime-80: #407F00;
$lime-90: #264C00;
$lime-100: #0D1A00;

/////////////////////////////
// Teal Scale
/////////////////////////////
$teal-10: #E5FFFB;
$teal-20: #B3FEF1;
$teal-30: #80FDE9;
$teal-40: #4DFDE1;
$teal-50: #1AFCD7;
$teal-60: #00DBB7;
$teal-70: #00B194;
$teal-80: #007E6A;
$teal-90: #004C3F;
$teal-100: #001A15;

/////////////////////////////
// Cyan Scale
/////////////////////////////
$cyan-10: #E0F6FC;
$cyan-20: #B2E8F7;
$cyan-30: #7FDAF0;
$cyan-40: #4BCAE8;
$cyan-50: #22BFE1;
$cyan-60: #00B5DA;
$cyan-70: #00A5C6;
$cyan-80: #0090AC;
$cyan-90: #007896;
$cyan-100: #005B67;

/////////////////////////////
// Violet Scale
/////////////////////////////
$violet-10: #E2CCF8;
$violet-20: #C59AF1;
$violet-30: #A767EA;
$violet-40: #8A35E2;
$violet-50: #7C1CDF;
$violet-60: #6D02DB;
$violet-70: #6202C5;
$violet-80: #5702AF;
$violet-90: #4C029A;
$violet-100: #410184;

/////////////////////////////
// Pink Scale
/////////////////////////////
$pink-10: #FFE5F2;
$pink-20: #FFB4DA;
$pink-30: #FF82C1;
$pink-40: #FF50A8;
$pink-50: #FF1D8F;
$pink-60: #DB006E;
$pink-70: #B3035C;
$pink-80: #800241;
$pink-90: #4D0127;
$pink-100: #1A000D;