{{- if and .Values.global.secrets .Values.global.secrets.enabled }}
{{- $databaseUser := .Values.global.config.databaseUser }}
{{- $databasePassword := .Values.global.secrets.databasePassword }}
{{- $databaseName := .Values.global.secrets.databaseName }}
{{- $databaseHost := .Values.global.secrets.databaseHost }}
{{- $databasePort := .Values.global.secrets.databasePort | default "5432" }}
{{- $host := printf "%s:%s" $databaseHost $databasePort }}
{{- $databaseURL := printf "postgresql://%s:%s@%s/%s" $databaseUser $databasePassword $host $databaseName }}
{{- $databaseJDBCURL := printf "jdbc:postgresql://%s:%s@%s/%s" $databaseUser $databasePassword $host $databaseName }}
{{- $databaseJDBCURLNoCreds := printf "jdbc:postgresql://%s/%s" $host $databaseName }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  POSTGRES_PASSWORD: {{ $databasePassword | quote }}
  POSTGRES_USER: {{ $databaseUser | quote }}
  POSTGRES_DATABASE: {{ $databaseName | quote }}
  POSTGRES_HOST: {{ $databaseHost | quote }}
  PGBOUNCER_URL: {{ .Values.global.secrets.databasePgbouncerUrl | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-flyway
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  FLYWAY_URL: {{ $databaseJDBCURLNoCreds | quote }}
  FLYWAY_USER: {{ $databaseUser | quote }}
  FLYWAY_PASSWORD: {{ $databasePassword | quote }}
{{- end }}
