{{- if and .Values.global.secrets .Values.global.secrets.enabled}}
{{- $provider := default "single" .Values.global.database.provider }}
{{- $databaseUser := required "global.config.databaseUser is required" .Values.global.config.databaseUser }}
{{- $databasePassword := "" }}
{{- $databaseName := "" }}
{{- $host := "" }}
{{- $hostWithoutPort := "" }}
{{- $pgbouncerUrl := "" }}
{{- $flywayHost := "" }}

{{- if eq $provider "crunchy" }}
  {{- $secretName := printf "%s-pguser-%s" .Values.global.databaseAlias $databaseUser }}
  {{- $secretObj := (lookup "v1" "Secret" .Release.Namespace $secretName ) }}
  {{- if not $secretObj }}
    {{- fail (printf "Secret %s not found in namespace %s" $secretName .Release.Namespace) }}
  {{- end }}
  {{- $secretData := (get $secretObj "data") }}
  {{- if not $secretData }}
    {{- fail (printf "Secret %s data not found in namespace %s" $secretName .Release.Namespace) }}
  {{- end }}
  {{- $databasePassword = get $secretData "password"  }}
  {{- $databaseName = b64dec (get $secretData "dbname") }}
  {{- $pgbouncerUrl = b64dec (get $secretData "pgbouncer-uri") }}
  {{- $host = printf "%s:%s" (b64dec (get $secretData "host")) (b64dec (get $secretData "port")) }}
  {{- $hostWithoutPort = printf "%s" (b64dec (get $secretData "host"))  }}
  {{- $flywayHost = $host }}
{{- else if eq $provider "single" }}
  {{- $databaseName = default "app" .Values.global.secrets.databaseName }}
  {{- $databasePassword = (required "global.secrets.databasePassword is required for single-db" .Values.global.secrets.databasePassword | b64enc) }}
  {{- $hostWithoutPort = printf "%s-db" .Release.Name }}
  {{- $host = printf "%s:5432" $hostWithoutPort }}
  {{- $pgbouncerUrl = printf "postgresql://%s:%s@%s/%s" $databaseUser (b64dec $databasePassword) $host $databaseName }}
  {{- $flywayHost = printf "%s-db-direct:5432" .Release.Name }}
{{- else }}
  {{- fail (printf "Unsupported global.database.provider=%s (expected 'single' or 'crunchy')" $provider) }}
{{- end }}

{{- $databaseURL := printf "postgresql://%s:%s@%s/%s" $databaseUser (b64dec $databasePassword) $host $databaseName }}
{{- $databaseJDBCURL := printf "jdbc:postgresql://%s:%s@%s/%s" $databaseUser (b64dec $databasePassword) $host $databaseName }}
{{- $databaseJDBCURLNoCreds := printf "jdbc:postgresql://%s/%s" $host $databaseName }}
{{- $flywayJDBCURLNoCreds := printf "jdbc:postgresql://%s/%s" $flywayHost $databaseName }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  POSTGRES_PASSWORD: {{ $databasePassword | quote }}
  POSTGRES_USER: {{ $databaseUser | b64enc | quote }}
  POSTGRES_DATABASE: {{ $databaseName | b64enc | quote }}
  POSTGRES_HOST: {{ $hostWithoutPort | b64enc | quote }}
  PGBOUNCER_URL: {{ $pgbouncerUrl | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-flyway
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  FLYWAY_URL: {{ $flywayJDBCURLNoCreds | b64enc | quote }}
  FLYWAY_USER: {{ $databaseUser | b64enc | quote }}
  FLYWAY_PASSWORD: {{ $databasePassword | quote }}
{{- end }}
