{{- if and .Values.global.secrets .Values.global.secrets.enabled }}
{{- $databaseUser := printf "" }}
{{- $databasePassword := printf "" }}
{{- $host := printf "" }}
{{- $databaseName := printf "" }}
{{- $hostWithoutPort := printf "" }}
{{- $pgbouncerUrl := printf "" }}
{{- $secretName := printf "%s-pguser-%s" .Values.global.databaseAlias .Values.global.config.databaseUser }}

{{- $databaseUser = .Values.global.config.databaseUser }}
{{- $secretObj := (lookup "v1" "Secret" .Release.Namespace $secretName ) }}
{{- $secretData := (and $secretObj (get $secretObj "data")) }}

{{- if not (and $secretObj $secretData) }}
# NOTE: Secret '{{ $secretName }}' or its 'data' section not found in namespace '{{ .Release.Namespace }}'. Dependent Secret resources will not be rendered.
{{- end }}

{{- if and $secretObj $secretData }}

{{- $databasePassword = get $secretData "password" }}
{{- $databaseName = b64dec (get $secretData "dbname") }}
{{- $pgbouncerUrl = b64dec (get $secretData "pgbouncer-uri") }}
{{- $host = printf "%s:%s" (b64dec (get $secretData "host")) (b64dec (get $secretData "port")) }}
{{- $hostWithoutPort = printf "%s" (b64dec (get $secretData "host")) }}
{{- $databaseURL := printf "postgresql://%s:%s@%s/%s" $databaseUser (b64dec $databasePassword) $host $databaseName }}
{{- $databaseJDBCURL := printf "jdbc:postgresql://%s:%s@%s/%s" $databaseUser (b64dec $databasePassword) $host $databaseName }}
{{- $databaseJDBCURLNoCreds := printf "jdbc:postgresql://%s/%s" $host $databaseName }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  POSTGRES_PASSWORD: {{ $databasePassword | quote }}
  POSTGRES_USER: {{ $databaseUser | b64enc | quote }}
  POSTGRES_DATABASE: {{ $databaseName | b64enc | quote }}
  POSTGRES_HOST: {{ $hostWithoutPort | b64enc | quote }}
  PGBOUNCER_URL: {{ $pgbouncerUrl | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-flyway
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  FLYWAY_URL: {{ $databaseJDBCURLNoCreds | b64enc | quote }}
  FLYWAY_USER: {{ $databaseUser | b64enc | quote }}
  FLYWAY_PASSWORD: {{ $databasePassword | quote }}
{{- end }}

{{- end }}
