{{- if and .Values.global.secrets .Values.global.secrets.enabled }}
{{- $databaseUser := .Values.global.config.databaseUser }}
{{- if not $databaseUser }}
  {{- fail "ERROR: global.config.databaseUser is required when secrets are enabled" }}
{{- end }}

{{- $databasePassword := .Values.global.secrets.databasePassword }}
{{- if not $databasePassword }}
  {{- fail "ERROR: global.secrets.databasePassword is required when secrets are enabled" }}
{{- end }}

{{- $databaseName := .Values.global.secrets.databaseName }}
{{- if not $databaseName }}
  {{- fail "ERROR: global.secrets.databaseName is required when secrets are enabled" }}
{{- end }}

{{- $databaseHost := .Values.global.secrets.databaseHost }}
{{- if not $databaseHost }}
  {{- fail "ERROR: global.secrets.databaseHost is required when secrets are enabled" }}
{{- end }}

{{- $databasePort := .Values.global.secrets.databasePort | default "5432" }}
{{- $pgbouncerUrl := .Values.global.secrets.databasePgbouncerUrl }}
{{- if not $pgbouncerUrl }}
  {{- fail "ERROR: global.secrets.databasePgbouncerUrl is required when secrets are enabled" }}
{{- end }}

{{- $host := printf "%s:%s" $databaseHost $databasePort }}
{{- $databaseURL := printf "postgresql://%s:%s@%s/%s" $databaseUser $databasePassword $host $databaseName }}
{{- $databaseJDBCURL := printf "jdbc:postgresql://%s:%s@%s/%s" $databaseUser $databasePassword $host $databaseName }}
{{- $databaseJDBCURLNoCreds := printf "jdbc:postgresql://%s/%s" $host $databaseName }}

---
{{- $backendSecretName := printf "%s-backend" .Release.Name }}
{{- $backendSecret := (lookup "v1" "Secret" .Release.Namespace $backendSecretName) }}
{{- if not $backendSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $backendSecretName }}
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  POSTGRES_PASSWORD: {{ $databasePassword | quote }}
  POSTGRES_USER: {{ $databaseUser | b64enc | quote }}
  POSTGRES_DATABASE: {{ $databaseName | b64enc | quote }}
  POSTGRES_HOST: {{ $databaseHost | b64enc | quote }}
  PGBOUNCER_URL: {{ $pgbouncerUrl | b64enc | quote }}
{{- end }}
---
{{- $flywaySecretName := printf "%s-flyway" .Release.Name }}
{{- $flywaySecret := (lookup "v1" "Secret" .Release.Namespace $flywaySecretName) }}
{{- if not $flywaySecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $flywaySecretName }}
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  FLYWAY_URL: {{ $databaseJDBCURLNoCreds | b64enc | quote }}
  FLYWAY_USER: {{ $databaseUser | b64enc | quote }}
  FLYWAY_PASSWORD: {{ $databasePassword | quote }}
{{- end }}
{{- end }}
