name: PR

on:
  pull_request:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        component: [backend, frontend]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: ${{ matrix.component }}/package-lock.json
      - name: Install dependencies
        working-directory: ${{ matrix.component }}
        run: npm ci
      - name: Run linting
        working-directory: ${{ matrix.component }}
        run: npm run lint

  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    needs: [lint]
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend, frontend, migrations]
    timeout-minutes: 10
    steps:
      - uses: bcgov/action-builder-ghcr@cde7f10b0441b6dd3c1da3e6a54ac05899e8eed9 # v4.2.0
        with:
          package: ${{ matrix.package }}
          tags: ${{ github.event.number }}
          tag_fallback: latest
          triggers: ('${{ matrix.package }}/')

  # https://github.com/bcgov/quickstart-openshift-helpers
  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [builds]
    uses: ./.github/workflows/.deployer.yml
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      db_user: app-${{ github.event.number }}
      params: --set global.secrets.persist=false
      triggers: ('backend/' 'frontend/' 'migrations/' 'charts/' '.github/workflows/.deployer.yml')
      db_triggers: ('charts/crunchy/')

  tests:
     name: Tests
     if: needs.deploys.outputs.triggered == 'true'
     needs: [deploys]
     uses: ./.github/workflows/.tests.yml

  results:
    name: PR Results
    needs: [lint, builds, deploys, tests]
    if: always()
    runs-on: ubuntu-24.04
    steps:
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Success!"
