name: PR (Fork)

on:
  pull_request_target:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  gate:
    name: Fork Approval
    if: github.event.pull_request.head.repo.full_name != github.repository
    environment: fork-pr-approval
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Approved fork PR run"

  builds:
    name: Builds
    if: github.event.pull_request.head.repo.full_name != github.repository
    needs: [gate]
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend, frontend, migrations]
    timeout-minutes: 10
    steps:
      - name: Checkout fork PR head
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push ${{ matrix.package }} Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.package }}
          file: ${{ matrix.package }}/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ matrix.package }}:${{ github.event.number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: BUILDKIT_INLINE_CACHE=1

  deploys:
    name: Deploys (${{ github.event.number }})
    if: github.event.pull_request.head.repo.full_name != github.repository
    needs: [builds]
    uses: ./.github/workflows/.deployer.yml
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      tag: ${{ github.event.number }}
      db_user: app-${{ github.event.number }}
      params: --set global.secrets.persist=false
      triggers: ('backend/' 'frontend/' 'migrations/' 'charts/' '.github/workflows/.deployer.yml')
      db_triggers: ('charts/crunchy/')
      repository: ${{ github.event.pull_request.head.repo.full_name }}
      ref: ${{ github.event.pull_request.head.sha }}

  tests:
     name: Tests
     if: github.event.pull_request.head.repo.full_name != github.repository && needs.deploys.outputs.triggered == 'true'
     needs: [deploys]
     uses: ./.github/workflows/.tests.yml
     with:
       repository: ${{ github.event.pull_request.head.repo.full_name }}
       ref: ${{ github.event.pull_request.head.sha }}

  results:
    name: PR Results
    if: github.event.pull_request.head.repo.full_name != github.repository && always()
    needs: [builds, deploys, tests]
    runs-on: ubuntu-24.04
    steps:
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Success!"
