name: PR

on:
  pull_request:
  pull_request_target:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read
  pull-requests: read

jobs:
  fork-handler:
    name: Fork Handler
    uses: ./.github/workflows/.fork-handler.yml

  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    needs: [fork-handler]
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend, frontend, migrations]
    timeout-minutes: 10
    steps:
      - uses: bcgov/action-builder-ghcr@2b24ac7f95e6a019064151498660437cca3202c5 # v4.2.1
        with:
          package: ${{ matrix.package }}
          tags: ${{ github.event.number }}
          tag_fallback: latest
          triggers: ('${{ matrix.package }}/')

  # https://github.com/bcgov/quickstart-openshift-helpers
  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [fork-handler, builds]
    uses: ./.github/workflows/.deployer.yml
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      db_user: app-${{ github.event.number }}
      params: --set global.secrets.persist=false
      triggers: ('backend/' 'frontend/' 'migrations/' 'charts/' '.github/workflows/.deployer.yml')
      db_triggers: ('charts/crunchy/')

  tests:
    name: Tests
    if: needs.deploys.outputs.triggered == 'true'
    needs: [fork-handler, deploys]
    uses: ./.github/workflows/.tests.yml

  results:
    name: PR Results
    needs: [fork-handler, builds, deploys, tests]
    if: always()
    runs-on: ubuntu-24.04
    steps:
      - name: Handle fork approval denial
        if: needs.fork-handler.result == 'failure'
        run: |
          echo "Fork PR approval was denied or environment misconfigured"
          exit 0
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Success!"
