name: PR Validate

on:
  pull_request:
    types: [edited, opened, synchronize, reopened, ready_for_review]
  pull_request_target:
    types: [edited, opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-edit-${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  validate:
    name: Validate PR
    if: github.event_name == 'pull_request' && (! github.event.pull_request.draft)
    permissions:
      pull-requests: write
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-validate.yml@6d695dd755fa9255ea4bde335890516beb6f95e4 # v1.0.1
    with:
      markdown_links: |
        - [Frontend](https://${{ github.event.repository.name }}-${{ github.event.number }}.apps.silver.devops.gov.bc.ca)
        - [Backend](https://${{ github.event.repository.name }}-${{ github.event.number }}.apps.silver.devops.gov.bc.ca/api)

  validate-fork:
    name: Validate PR (Fork)
    if: github.event_name == 'pull_request_target' && (! github.event.pull_request.draft) && github.event.pull_request.head.repo.full_name != github.repository
    permissions:
      pull-requests: write
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-validate.yml@6d695dd755fa9255ea4bde335890516beb6f95e4 # v1.0.1
    with:
      markdown_links: |
        - [Frontend](https://${{ github.event.repository.name }}-${{ github.event.number }}.apps.silver.devops.gov.bc.ca)
        - [Backend](https://${{ github.event.repository.name }}-${{ github.event.number }}.apps.silver.devops.gov.bc.ca/api)

  results:
    name: Validate Results
    if: github.event_name == 'pull_request' && always()
    needs: [validate]
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Success!"

  results-fork:
    name: Validate Results (Fork)
    if: github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository && always()
    needs: [validate-fork]
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Success!"
